body {
	background-color: #6E6E6E;
	text-align: center;
	padding: 0;
	margin: 0;
}

#header {
	top: 0;
	width: 100%;
	background: white;
}

.headerImg {
	height: 200px;
	background-image: url(../Headerpic2.jpg) !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: -1;
}

.headerLogo {
	height: 300px;
	background-image: url(../logous.png) !important;
	background-repeat: no-repeat;
	background-size: 50% 50%;
	z-index: 0;
}

#menubar {
	width: 100%;
	background: #2f2f2f;
	border-top: 3px solid maroon;
	border-bottom: 3px solid #3f3d41;
	box-shadow: inset 0 -0.4em 0.7em rgba(255, 255, 255, 0.15);
}

#content {
	width: 100%;
	background: lightgray;
	min-height: 100%;
	margin: 10px auto -50px;
	margin-bottom: 5px;
	border-top: 2px solid #3f3d41;
	border-bottom: 2px solid #3f3d41;
}

.push {
	height: 50px;
}

#footer {
	position: absolute;
	width: 100%;
	background: #3b3b3b;
	margin-top: 10px;
	color: white;
	font-family: Jura, sans-serif;
	font-weight: bold;
	box-shadow: inset 0 -0.4em 0.7em rgba(255, 255, 255, 0.15);
}

#footer a {
	
}

.fot {
	width: 100%;
	margin: 1em 0em 1em 0em;
}

.fot td {
	width: 33%;
}

.anmeldungGrid {
	width: 100%;
}