body {
	background-color: #6E6E6E;
	text-align: center;
	padding: 0;
	margin: 0;
}

/* #website {
	width: 100%;
		height: 100%;
	position: relative;
	background: #6E6E6E;
} */
}
#header {
	position: relative;
	width: 100%;
	background: black;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}

.headerImg {
	height: 200px;
	background-image: url(../Headerpic.jpg) !important;
	background-repeat: no-repeat;
	position: realative;
	opacity: 0.8;
	background-size: 100% 100%;
	z-index: -1;
}

.headerLogo {
	height: 200px;
	background-image: url(../logous.png) !important;
	background-repeat: no-repeat;
	position: relative;
	opacity: 1;
	background-size: 400px 200px;
	z-index: 0;
}

#menubar {
	width: 100%;
	height: 50px;
	background: #3b3b3b;
}

#main {
	width: 100%;
}

#menue {
	float: left;
	width: 20%;
	height: 980px;
	background: maroon;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}

#menuitem {
	background-color: grey;
	line-height: 50px;
}

#menuitem:hover {
	background-color: green;
}

#inhalt {
	float: right;
	width: 79.3%; /* 1% rest f�r den abstand zum menue*/
	height: 980px;
	background: lightgray;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
#steuerung {
    background-color: #dddddd;
    width: 12em;
    float: left;
    margin:  10px;
}

#steuerung strong,
#steuerung a {
    text-decoration: none;
    border: 1px solid black;
    display: block;
}

#footer {
	clear: both; /*wird gebraucht bei main und menue = right/left*/
	width: 100%;
	height: 200px;
	background: #3b3b3b;
	margin-top: 10px;
	margin-bottom: 10px;
}